<div>
    <div class="my-1 mx-3">
        <!-- <span class="mx-3">Search tour</span> -->
        <input type="text"
        placeholder="Search tour ..." 
        [(ngModel)]="filter"/>
    
        <!-- <input type="text" pInputText [(ngModel)]="login" [ngClass]="{'input-error': !login}" /> -->
    </div>
    
        <!-- <app-search></app-search> -->
        <div class="d-md-flex flex-md-row flex-md-wrap justify-content-around">
        
            <div *ngFor="let item of tickets | searchTour: filter; let i=index" class="mt-3">
                <p-card header={{item.name}} subheader={{item.tourOperator}} [style]="{'width': '360px','height': '100%', 'justify-content': 'space-between'}" styleClass="p-card-shadow">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="assets/img/{{item.img}}"/>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <p>{{item.description}}</p>
                    </ng-template>
                    
                    <ng-template pTemplate="footer"> 
                        <p-button label="more details"></p-button>
                    </ng-template>
                </p-card>
            </div>
        </div>
</div>



