<div class="spinner text-center">
    <p-progressSpinner *ngIf="loading" class="text-center"></p-progressSpinner>
</div>

<div *ngIf="tickets" >
    <div class="my-1 mx-3">
        <input type="text"
        placeholder="Search tour ..." 
        [(ngModel)]="filter"/>
    
    </div>
    <div class="m-5">
        <p>Найдено туров: {{ (tickets | searchTour: filter).length }}</p>
        <p>Количество элементов: {{tickets.length}}</p>
        <!-- <p>Current Tour index: {{ blockDirective.activeElementIndex }}</p> -->
    </div>
          <!-- <app-search></app-search> -->
        <div appBlocksStyle
            #tourWrap
             #blockDirective="blockStyle"
             [selector]="'.ticket-item'" 
             [initFirst]="true"
             (onEnter)="onEnter($event)"
             (renderComplete)="directiveRenderComplete($event)" 
        class="d-flex flex-row flex-wrap justify-content-around">
        
            <div *ngFor="let item of tickets | searchTour: filter; let i=index" class="ticket-item mt-3">
                <p-card header={{item.name}} subheader={{item.tourOperator}} [style]="{'width': '360px','height': '100%', 'justify-content': 'space-between'}" styleClass="p-card-shadow">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="assets/img/{{item.img}}"/>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <p>{{item.description}}</p>
                        <p>{{item.date}}</p>
                        <span [ngStyle]="{fontWeight: 'bold'}">{{item.price}}</span>
                    </ng-template>
                    
                    <ng-template pTemplate="footer"> 
                        <p-button (click)="goToTicketInfoPage(item)" label="more details"></p-button>
                    </ng-template>
                </p-card>
            </div>
        </div>
        
</div>
<div  *ngIf="(tickets | searchTour: filter).length === 0" class="text-center">
    <p> No tours found</p>
</div>




