<p-menubar [model]="items" >
    <div class="d-flex flex-column align-items-center">
        <div *ngIf="user" class="header-login">
            Пользователь: {{user.login}}
        </div>
        <!-- <div class="d-flex flex-row justify-content-end"> -->
        <div class="d-flex flex-row ">
            <div class="time-content">
                {{ weekDay }}
            </div>
            <div class="time-content">
                {{ data }}
            </div>
            <div class="time-content">
                {{ time }}
            </div>
        </div>

    </div>
</p-menubar>