<div class="d-flex flex-column h-100">
    <header>
        <app-header  [menuType] = "selectedType"></app-header>
    </header>
    <div class="main-content">
        <div class="overflow-auto h-100 w-100 flex-grow-1">
           <router-outlet></router-outlet>
        </div>
        <app-aside 
            *ngIf="showAside"
            (updateMenuType)="updateSelectedType($event)"
            class="d-flex flex-column h-100 p-2"></app-aside>
    </div>
    <footer>
        <app-footer></app-footer>
    </footer>
</div>