<div class="mt-4">
    <form (ngSubmit)="changePass()">
        <div class="mt-3" [formGroup]="changePasswordForm">
            <div class="mt-3">

                <ng-container *ngTemplateOutlet="passFieldType; context:{titleValue: 'Старый пароль'}"></ng-container>
                <input type="password" class="mt-3" pInputText formControlName="password" id="password"
                    placeholder="Текщий пароль..." />
            </div>
            <div class="mt-3">
                <ng-container *ngTemplateOutlet="passFieldType; context:{titleValue: 'Новый пароль'}"></ng-container>

                <input type="text" class="mt-3" pInputText formControlName="newPassword" id="newPassword"
                    placeholder="Новый пароль..." />
            </div>
            <!-- <ng-container
                *ngIf="changePasswordForm.controls.newPassword.touched && changePasswordForm.controls.newPassword.errors?.passwordStrength"
                [ngTemplateOutlet]="strengthError"></ng-container>

            <ng-container
                *ngIf="changePasswordForm.controls.newPassword.touched && changePasswordForm.controls.newPassword.errors?.minlength"
                [ngTemplateOutlet]="minLength"
                [ngTemplateOutletContext]="{dataMinLength: changePasswordForm.controls.newPassword.errors.minlength}"></ng-container> -->


            <div class="mt-3">
                <ng-container *ngTemplateOutlet="passFieldType; context:{titleValue: 'Повторите новый пароль'}">
                </ng-container>

                <input type="text" class="mt-3" pInputText formControlName="newPasswordRepeat" id="newPasswordRepeat"
                    placeholder="Повторите новый пароль..." />
            </div>

            <!-- <ng-container
                *ngIf="changePasswordForm.controls.newPasswordRepeat.touched && changePasswordForm.controls.newPasswordRepeat.errors?.passwordStrength"
                [ngTemplateOutlet]="strengthError"></ng-container> -->

            <div class="mt-4">
                <button class="btn-success btn" type="submit" [disabled]="!changePasswordForm.valid">Спенить
                    пароль</button>
            </div>
        </div>
    </form>

</div>


<ng-template #passFieldType let-value="titleValue">
    <span class="mx-3">{{ value }}</span>
</ng-template>

<!-- <ng-template #strengthError>
    <div>
        <div>
            Пароль должен содержать буквы в верхнем регистре, симолы и цифры
        </div>
    </div>
</ng-template>

<ng-template #minLength let-data="dataMinLength">
    <div>
        <div>
            Длинна пароля должна быть более {{data.requiredLength}} символов
        </div>
    </div>
</ng-template> -->



<!-- <div class="d-flex flex-column col-2 registration-input-wrap" (keydown)="onEnter($event)">
    <div class="my-1 d-flex flex-column">
           <span class="mx-3">Старый пароль</span>
           <input type="password" pInputText [(ngModel)]="password" />

    </div>
    <div class="my-1 d-flex flex-column">
           <span class="mx-3">Новый пароль</span>
           <input type="password"  pInputText [(ngModel)]="newPassword" />

    </div>
    <div class="my-1 d-flex flex-column">
           <span class="mx-3">Повторите новый пароль</span>
           <input type="password" pInputText [(ngModel)]="newPasswordRepeat" />

    </div>
    
    <div class="mt-5">
           <button (click)="changePass($event)" type="button" class="btn btn-primary">Сменить пароль</button>
    </div>
</div> -->